.site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.site-wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

footer {
  background-color: $footer-bg-color;
  border-top: $footer-border-top;
  color: $footer-color;
  font-size: $footer-font-size;
  font-weight: $footer-font-weight;
  padding: $footer-padding;
  text-align: center;
}


/* ==========================================================================
   10. Footer - The bottom of every page
   ========================================================================== */

.site-footer {
    position: relative;
    margin: 8rem 0 0 0;
    padding: 1rem 15px;
    font-family: "PT Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.75em;
    color: #BBC7CC;
}

.site-footer a {
    color: #BBC7CC;
    text-decoration: none;
    font-weight: bold;
}

.site-footer a:hover {
    border-bottom: #bbc7cc 1px solid;
}

.copyright {
    display: block;
    width: 45%;
    float: left;
}

.poweredby {
    display: block;
    width: 45%;
    float: right;
    text-align: right;
}

